[submodule "libraries/SDL"]
	path = libraries/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libraries/SDL_image"]
	path = libraries/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
